

#title, #about, #links{
	text-align: left;
	display: block;
}

#more-about{
	margin: 20px 0;
}
.site-container{
	padding: 100px 100px 100px 200px;
}


#toggle-container{
	width: 100%;
	text-align: right;
	float: right;
	display:inline-block;

}

.switch i {
	font-size: 22px;
	margin:6px;
	vertical-align: middle;
	display: inline-block;

}

.switch i .fa-moon{
	float: left;
	margin-left: -8px;
	font-color: #f9f9f9;
	position:relative;
	z-index: 9999;
}

.switch i .fa-sun{
	float:right;
	margin-right: -4px;

}

/*slider stuff*/

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input, .chevron-label input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*ackground-color: #090909;*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #090909;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}

/*end slider stuff*/



#title h1{
	font-family: 'Pacifico';
	font-size: 50px;
}

.section-text-block{
	width: 500px;
	height: auto;
	margin: 25px 0;
	text-align:left;
}

.section-text-block p {
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
}

#links #links-container{
	margin: 10px 10px 10px 0;
	display:inline-block;
	text-align: left;
	font-size: 35px;
}

#links #links-container i {
	margin: 0 5px 0 0;
}

#links #links-container a{
	color: #090909;
}

#links #links-container a:hover{
	color:#aba9a8;
	transition-duration: 0.5s
}

#learn-more-toggle{
	text-align: left;
	font-size: 	18px;
	font-family: 'Quicksand', sans-serif;
}

#learn-more-toggle i {
	font-size: 	24px;
}

#more-info-wrapper{
	display: flex;
    align-items: center;
    vertical-align: middle;
}

#more-info-wrapper span{
	margin-left: 5px;
}

#chevron-image:hover{
	cursor:pointer;
}


button{
	padding: 10px;
	border-radius: 5px;
	border-style: solid;
	border-color: #090909;
	background-color: #f9f9f9;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
}

button:hover{
	background-color: #090909;
	transition-duration: 0.5s;
	color: #f9f9f9;
	cursor: pointer;
}

#learn-more-expanded {
	margin-top: 50px;
	display: none;
	/*height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;*/
}

#learn-more-expanded.is-visible{
	display: block;
	height: auto;
	font-family: 'Quicksand', sans-serif;
}

footer{
	text-align: center;
	font-size: 12px;
	padding: 50px;
}